* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

textarea {
    outline: none;
    resize: none;
}

body {
    background: url("bg.jpg");
    background-size: 100%;
}

#wrapper {
    width: 900px;
    height: 600px;
    border: solid 1px #aaa;
    margin: 30px auto 0;
    background: white;
}

#messageWindow {
    float: left;
    width: 80%;
    height: 75%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.8em;
    overflow-y: scroll;
}

#inputWindow {
    float: left;
    background: darkseagreen;
    width: 80%;
    height: 25%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    background: lightyellow;
    width: 20%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#message {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: 1.2em;
}

#send,#view{
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#view{
    right: 40px;
}

.hide {
    display: none;
}

.send {
    text-align: right;
    margin-bottom: 5px;
    background: aliceblue;
    padding: 8px;
}

.receive {
    text-align: left;
    margin-bottom: 5px;
    background: bisque;
    padding: 5px;
}

.sm {
    color: green;
}
